@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root{
  --green:#01a7b5;
  --black: #25282b;
  --dark-color:#444;
  --light-color:#777;
  --box-shadow: 0.5rem 0.5rem 0 rgba(7, 81, 56, 0.2);
  --text-shadow:.4rem .4rem 0 rgba(0,0,0,.2);
  --border:.2rem solid var(--green);
}

*{
  font-family: 'Poppins', sans-serif;
  margin: 0; padding: 0;
  box-sizing: border-box;
  outline: none; border: none;
  text-transform: capitalize;
  transition: all .2s ease-out;
  text-decoration: none;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

/* spaces between sections */
section{
  padding: 10rem 15%;
}

.heading{
  text-align: center;
  padding-bottom: 4rem;
  text-shadow: var(--text-shadow);
  text-transform: uppercase;
  color: var(--dark-color);
  font-size: 5rem;
  letter-spacing: .4rem;
}
.heading span{
  text-transform: uppercase;
  color: var(--green);
}

h4 {
  margin: 1rem 0 .4rem;
  font-weight: 400;
}



.gender select{
  font-size: 1.4rem;
}



/* form section start */

form{
  width: 100%;
}
/* input[type=radio] {
  accent-color: #039688;
} */

select {
        margin-top: 3rem;
        margin-left: 1rem;
        padding: .9rem 0;
        border-radius: .3rem ;
        border: 1px solid #ccc;
        background:#fff;
        width: 60%;
        border: var(--border);
    }

th, td {
      width: 10%;
      padding: 1.2rem 0;
      border-bottom: .2rem solid #ccc;
      text-align: center;
      vertical-align: unset;
      line-height: 2rem;
      font-weight: 500;
    }

.first-col {
      width: 25%;
      text-align: left;
    }

textarea {
      width: calc(100% - .5rem);
      font-size: 15px;
    }

label {
  color: var(--dark-color);
  font-size: 1.7rem;
  font-weight: 600;
  text-align: left;
}


form .row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.row .image{
  flex:1 1 45rem;
}

.row .image img{
  width: 90%;
}

.formbox .row form{
  flex:4 1 45rem;
  background: #fff;
  border: var(--border);
  box-shadow: var(--box-shadow);
  text-align: center;
  padding: 2rem;
  border-radius: .3rem;
}

.formbox .row form .box{
  width: 20%;
  padding: .9rem 1rem ;
  margin: 8px 10px;
  box-sizing: border-box;
  border: var(--border);
  font-size: 16px;

} 



.formbox .row form h3{
  color: var(--dark-color);
  font-size: 4rem;
  padding-bottom: 1rem;
}


.formbox .row form p {
  color: var(--dark-color);
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.formbox .row form td{
  color: var(--dark-color);
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 1rem;
}
.formbox .row form th{
  color: var(--dark-color);
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 1rem;
}


.formbox .row form h4{
  color: var(--dark-color);
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 1rem;
}
.formbox .row form textarea{
  border: var(--border);
}


.formbox  form .custom-btn{
  padding: 1rem 3rem;
} 

.predict{
  height: 80px;
  border:var(--border);
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 15px auto;
}

/* result animation */

.loader:before {
  content: '';
  display: block;
  height: 50px;
  width: 50px;
  -webkit-animation: spin .5s infinite linear;
          animation: spin .5s infinite linear;
  border: 6px var(--green) solid;
  border-left-color: #fff;
  border-radius: 100%; }

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }



/* form section end */


/* media queries */
@media (max-width:991px){
  section{
    padding: 0 5%;
  }
}

@media (max-width:768px){
  .row .image img{
    display: none;
  }


}

@media (max-width:450px){

  html{
    font-size: 40%;
  }

  .formbox .row .image{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .formbox .row .image img{
    width: 70%;
    justify-content: center;
    margin: 0 auto;
  }

}