@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  margin: 0; padding: 0;
  box-sizing: border-box;
  outline: none; 
  border: none;
  transition: all .2s ease-out;
  text-decoration: none;
}

html{
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

body{
  color: #b8b8b8;
  background-color: #e2e6ea;
}

form{
  width: 450px;
  height: 450px;
  margin: 16rem auto;
  border: 1px solid #fff;
  border-radius: 15px;
  padding: 10px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  
}
h1{
  margin-bottom: 40px;
  margin-top: 15px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: var(--green);
}

.input-field{
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 20px auto;
  height: 55px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}
.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  font-size: 1.8rem;
}
.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.5rem;
  color: #333;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

/* .inputs{
  width: 70%;
  padding: .5rem 1rem;
  margin: 5px 60px;
  border: 2px solid #fff;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 700;
} */

/* .inputs:focus{
  border: 2px solid var(--green);
  background: rgba(255, 255, 255, 0.7);
} */

.submit {
  text-align: center;
}
.btn{
  width: 50%;
  height: 50px;
  padding: 10px 25px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  background-color: #fff;
  border: 2px solid var(--green);
  color: var(--green);
  border-radius: 10px;
  margin: 25px 0 10px 0;
  cursor: pointer;
}
.btn:hover{
  background-color: var(--green);
  color: #fff;
}

p{
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: initial;
}

p a{
  text-decoration: none;
  color: var(--green);
  margin-left: 10px;
  text-transform: uppercase;
}

p a:hover{
  color: var(--green);
}


/* =============================sign up============================== */
.signup{
  width: 550px;
  height: 650px;
  /* margin: 13rem auto; */
}
.signup .row{
  margin: 10px auto;
  text-align: center;
}

.signup .form-group label{
  font-size: 14px;
  font-weight: 500;
  margin-bottom:5px;
  display: block;
  color: var(--black);
}


/* .signup .gender{
margin: 10px auto;
}
.gender .form-check{
  margin: 0 15px;
}

.gender input,.form-check-label{
  font-size: 14px;
} */

.alert {
  position: fixed;
  top: 80px;
  z-index: 11;
  left: 50%;
  transform: translateX(-50%);
  width: 35%;
  font-size: 16px;
  text-align: center;
}
.signup select {
  font-size: 14px;
  /* margin-top: 1.5rem; */
  margin-left: .5rem;
  padding: .9rem 0;
  border-radius: .3rem ;
  border: 1px solid #ccc;
  background:#fff;
  width: 60%;
  border: var(--border);
}
.field{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

/* media queries */

/* @media (max-width: 870px) {
  form {
    min-height: 800px;
    height: 100vh;
  }
} */

/* @media (max-width: 570px) {
  form {
    width: 70%;
    height: 300px;
  }

} */

@media screen and (max-width: 600px) {
  form {
    width: 330px;
  }
  .signup{
    width: 350px;
    height: 700px;
  }
  .signup .form-group{
    margin-top: 10px;
  }
  .alert {
    position: fixed;
    top: 50px;
    z-index: 11;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    font-size: 16px;
    text-align: center;
  }
  .signup .form-group label{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    display: inline;
    color: var(--black);
  }
}

    /* Media query for screen sizes between 601px and 900px */
    @media screen and (min-width: 601px) and (max-width: 900px) {
      form {
        width: 400px;
      }
      .signup{
        width: 400px;
      }
    }

