
      <footer class="footer">
        <div class="container-fluid">
          <div class="row">
          <div class="box col-6 col-md">
            <h2>
              <i class="fa-solid fa-heart-pulse me-3"></i><span>E-LAB</span>
            </h2>
          </div>
  
          <div class="box links col-12 col-md">     <!--links class add hover effect-->
            <h3>quick links</h3>
            <a href="{{ url_for('home') }}#home">
              <i class="fas fa-chevron-right"></i> home
            </a>
            <a href="{{ url_for('home') }}#services">
              <i class="fas fa-chevron-right"></i> services
            </a>
            <a href="{{ url_for('home') }}#doctors">
              <i class="fas fa-chevron-right"></i> doctors
            </a>
            <a href="{{ url_for('home') }}#diagnose">
              <i class="fas fa-chevron-right"></i> diagnose
            </a>
          </div>
  
  
          <div class="box links col-12 col-md">
            <h3>contact info</h3>
            <a href="#"> <i class="fas fa-phone"></i> +20 100-326-7192 </a>
            <a href="#"> <i class="fas fa-phone"></i> +20 111-238-5132 </a>
            <a href="electroniclab22@gmail.com" class="email">
              <i class="fas fa-envelope"></i>elab@gmail.com
            </a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> cairo, egypt</a>
          </div>
          
  
  
          <div class="box col-6 col-md">
            <div class="store">
              <a href="#"><img src="../static/image/google-play2.svg" alt=""></a>
              <!-- <a href="#"><img src="../static/image/app-store.svg" alt=""></a> -->
            </div>
            <div class="social">
                <a href="#"> <i class="fa-brands fa-facebook"></i></a>
                <a href="#"> <i class="fa-brands fa-linkedin"></i></a>
            </div>
          </div>
        </div>
  
        <div class="credit">Copyright © 2023 <span>E-LAB</span>, Inc.</div>
      </div>
    </footer>
  
